@import "../../variables";

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background-color: $black;

  p {
    color: $white;
    align-self: center;
    justify-content: center;
  }
}
