<div class="container">
    <h2>Melee DPS</h2>
        <div class="d-flex p-4">
            <!-- Monk card-->
                <div class="card monk">
                    <h3>MONK</h3>
                </div>
            <!-- Dragoon card-->
                <div class="card dragoon">
                <h3>DRAGOON</h3> 
                </div>
            <!--Ninja card-->
            <div class="card ninja">
                <h3>NINJA</h3>
            </div> 
            
            <!--Sam card-->
            <div class="card sam">
            <h3>SAMURAI</h3>
            </div> 
        </div>
    <h2>Ranged - Magical DPS</h2>
        <div class="d-flex p-4">
            <!-- Blm card-->
            <div class="card blm">
                <h3>BLACK MAGE</h3>
            </div>
            <!-- RDM card-->
            <div class="card rdm">
                <h3>RED MAGE</h3>
            </div>
            <!-- SMN-->
            <div class="card smn">
                <h3>SUMMONER</h3>
            </div>
        </div>
    <h2>Ranged - Physical DPS</h2>
    <div class="d-flex p-4">
        <!-- MCH card-->
        <div class="card mch">
            <h3>MACHINIST</h3>
        </div>
        <!-- RDM card-->
        <div class="card bard">
            <h3>BARD</h3>
        </div>
        <!-- SMN-->
        <div class="card dancer">
            <h3>DANCER</h3>
        </div>
    </div>    
</div>
        
