h2 {
  border-bottom: 3px solid rgb(180, 34, 34);
  border-top: 3px solid rgb(180, 34, 34);
  background-color: rgba($color: #ec3737, $alpha: 0.7);
  padding: 10px;
  color: white;
  font-size: 20px;
}

div .card {
  margin-left: 4px;
  border: 4px solid rgb(180, 34, 34);
  width: 24rem;
  height: 24rem;
}

div .dragoon {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/drg-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}

div .sam {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/sam-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}

div .monk {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/monk-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .ninja {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/ninja-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .blm {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/blm-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .smn {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/smn-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .rdm {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/rdm-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .mch {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/mch-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .bard {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/bard-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
div .dancer {
  background: url("../../../../assets/img/ffxiv-icons/classes-images/dancer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 600;
    background-color: rgba($color: #eee0e0, $alpha: 0.7);
    padding: 5px;
    font-size: 24px;
    font-family: "Jupiter Pro";
  }
}
