 <div class="content">   
    <div class="container">
        <div class="d-flex p-4">
            <!-- WHITE MAGE card-->
                <div class="card whm">
                    <h3>WHITE MAGE</h3>
                </div>
            <!-- SCH card-->
                <div class="card sch">
                <h3>SCHOLAR</h3> 
                </div>
            <!--AST card-->
            <div class="card ast">
                <h3>ASTROLOGIAN</h3>
            </div> 
        </div>
    </div>
</div>   