<div class="content">    
    <div class="container">
        <div class="d-flex p-4">
            <!-- Monk card-->
                <div class="card pld">
                    <h3>PALADIN</h3>
                </div>
            <!-- Dragoon card-->
                <div class="card war">
                <h3>WARRIOR</h3> 
                </div>
            <!--Ninja card-->
            <div class="card drk">
                <h3>DARK KNIGHT</h3>
            </div> 
            
            <!--Sam card-->
            <div class="card gnb">
            <h3>GUNBREAKER</h3>
            </div> 
        </div>
    </div>       
</div>    